<?php //>
return '
<div id="profile">
    <div id="profile-rank">
        <p>Grade: <strong>Développeur Web</strong></p>
    </div>
    <div id="profile-date">
        <p>Membre depuis le: <strong>23.01.2016</strong></p>
    </div>
    <div>
        <h4>Action au sein du projet Ubercube</h4>
        <ul>
            <li>Développement de l\'intranet d\'ubercube</li>
        </ul>
    </div>

    <div id="profile-description">
        <h4>Description personnel</h4>
        <p>Je suis pationné depuis toujours par la programmation Web, java et python.<br/>
        je fais de la programmation depuis 2011 environ.</p>
    </div>
    <div id="profile-social">
        <p>Twitter: <strong>@WinXaito</strong></p>
        <p>Github: <strong>WinXaito</strong></p>
        <p>Skype: <strong>Blender-man98</strong></p>
    </div>
</div>
';