<?php //>
if($login->isConnectSuccess()){
    return '
        <div>
            <p>Connexion réussi</p>
        </div>
    ';
}else{
    return '
        <form method="POST" action="">
            <input type="text" name="username" placeholder="Nom d\'utilisateur"/>
            <input type="password" name="password" placeholder="Mot de passe"/>

            <input type="submit" value="Connexion"/>

            <div id="complement">
                <span><a href="">Vous n\'avez pas encore de compte ?</a></span>
                <span><a href="">Mot de passe perdu ?</a></span>
            </div>

            <div id="LoginLog">
                '.$login->getLog().'
            </div>
        </form>
    ';
}