<?php //>
if(!$register->isRegistred()){
    return '
    <form method="POST" action="">
        <input type="text" name="username" placeholder="Nom d\'utilisateur" value="'.$register->getPreset('username').'"/>
        <input type="password" name="password" placeholder="Mot de passe"/>

        <input type="text" name="email" placeholder="Email" value="'.$register->getPreset('email').'"/>

        <input type="text" name="firstName" placeholder="Prénom (fac.)" value="'.$register->getPreset('firstName').'"/>
        <input type="text" name="lastName" placeholder="Nom (fac.)" value="'.$register->getPreset('lastName').'"/>

        <input type="submit" value="Inscription"/>

        <div id="complement">
            <span><a href="">Vous avez déjà un compte ?</a></span>
        </div>

        <div id="registerLog">
            '.$register->getLog().'
        </div>
    </form>
    ';
}else{
    return '
        <div>
            <p>Votre compte a correctement été créer, vous pouvez désormais vous <a href="/intranet/login">connectez</a>.</p>
        </div>
    ';
}