/* Style of connection module */
    form{
        width:400px;
        margin:auto;
        background-color: orange;
        padding:20px;
    }
    form input{
        display:block;
        width:100%;
        margin:10px 0;
        border:2px solid rgb(200,200,200);
        padding:5px;
    }
    form input:focus{
        border:2px solid #969696;
    }

    form input[type=submit]{
        border:2px solid darkgray;
    }
    form input[type=submit]:hover{
        border:2px solid rgb(100,100,100);
    }
    form input[type=submit]:focus{
        border:2px solid black;
    }

    #complement span{
        display:block;
    }
    #complement a{
        font-size: 0.9em;
        color:rgb(100,100,100);
    }
    #complement a:hover{
        color:black;
    }