/* CSS File of UberCube */

/* General */
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    html, body{
        height:100%;
        font-family: "Open Sans";
    }
    a{
        color:#969696;
        text-decoration: none;
    }
    a:hover{
        color:black;
    }

/* Header */
    header{
        height:80px;
        border-bottom:1px solid orange;
    }
    #header-content{
        width:1200px;
        margin:auto;
    }
    #header-noconnect li{
        margin-top:10px;
    }
    header h1{
        display:inline-block;
        margin-top:18px;
    }
    header nav{
        float:right;
        margin-top:5px;
    }
    header ul{
        list-style-type: none;
    }
    header li{
        display:inline-block;
        margin:0 15px;
        vertical-align: middle;
        border: solid 5px transparent;
        padding:10px;
    }
    header .dropdown ul{
        display:none;
        position:absolute;
        background-color: #bdbdbd;
        border-radius:3px;
        width:160px;
        text-align: center;
        margin-left:-65px;
    }
    header .dropdown-item{
        width:100%;
        margin:0;
        padding:0;
        border-radius:3px;
    }
    header .dropdown:hover{
        background-color: #969696;
        border-radius:5px;
    }
    header .dropdown-item:hover{
        background-color: #696969;
    }
    header .dropdown-item a{
        display:inline-block;
        color:#333333;
        width:150px;
        padding:10px 0;
        vertical-align: bottom;
    }
    header a:hover{
        color:black;
    }
    header a > img:hover{
        background-color:rgb(240,240,240);
        border-radius:5px;
    }

/* Section */
    section{
        width:1200px;
        margin:auto;
    }

    /* Section - title */
        section h2{
            margin:0 0 10px 0;
            padding-left: 10px;
            background-color:orange;

            -moz-box-shadow: 2px 2px 5px 0 #cfcfcf;
            -webkit-box-shadow: 2px 2px 5px 0 #cfcfcf;
            -o-box-shadow: 2px 2px 5px 0 #cfcfcf;
            box-shadow: 2px 2px 5px 0 #cfcfcf;
        }

    /* Section - content */
        section article{

        }