/* Project stylesheet */
    #members{

    }

    #members-tags{
        margin-bottom:10px;
    }
    #members-tags span{
        display:inline-block;
        padding:5px;
        min-width: 150px;
        text-align: center;
    }
    #members .member{
        background-color: rgb(230,230,230);
        padding:5px;
        margin-bottom:10px;
    }
    #members .member span{
        display:block;
    }