<?php //>
return '
<div id="members">
    <div id="members-tags">
        <span><a href="">Administrateur (0)</a></span>
        <span><a href="">Management (0)</a></span>
        <span><a href="">Développeur Web (1)</a></span>
        <span><a href="">Développeur Java (1)</a></span>
        <span><a href="">Graphiste (0)</a></span>
        <span><a href="">Sound Designer (0)</a></span>
    </div>

    <div class="member">
        <span><a href="">WinXaito</a> - <a href="">Contacter</a></span>
        <span>Développeur WEB</span>
        <span>17 ans</span>
    </div>

    <div class="member">
        <span><a href="">Test</a> - <a href="">Contacter</a></span>
        <span>Codeur JAVA</span>
        <span>18 ans</span>
    </div>
</div>
';